input#menu-toggle:checked ~ #menu {
    display: block;

}
@media only screen and (max-width: 640px) {
    div#menu{
        display: none;
    }

}
@keyframes opacity-trans{
    0%{opacity:1;}
    50%{opacity:0.5;}
    100%{opacity:0;}

}
.swal2-header{
    font-size: small;
}
#swal2-content{
    font-size: medium;
}
td.border::-webkit-scrollbar{
    background:transparent;
    width: 1px;

}
td.border::-webkit-scrollbar-thumb{
         background: #2d3748;
     border-radius: 5px;
    height: 1px;
}
.custom-card:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #1a202c;
    clip-path: circle(30px at 80% 20%);
    transition:0.5s ease-in-out;
}
.img-box{
    position: absolute;
}

